#top {
  height: 1px;
  width: 5px;
  background: none;
  position: relative;
 }

html {
  scroll-behavior: smooth;
 }


* {
  box-sizing: border-box;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 1000 !important;
  font-size: 15px !important;
}

html header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99999;
}

html body
{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;

}

#textobotones {

  z-index: 9;

}





/*----------------------------------------------------------------------------------------------------*/



.contenido {
  margin-top: 140px;
  margin-bottom: 70px;
}

.contenido2 {
  margin-bottom: 70px;
}


/*----------------------------------------------------------------------------------------------------*/



.todocontenidos {

  min-height: calc(100vh - 160px);

}


/*----------------------------------------------------------------------------------------------------*/



.menu_bar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
}

.texto_menu a {

  color: #ffffff;
  text-align: left;

  text-decoration: none;
  font-size: 25px;
  z-index: 999;
  padding: 0px 10px;
}

.texto_menu {
  font-family: 'Poppins', sans-serif;
}


/*----------------------------------------------------------------------------------------------------*/




.contenedores {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 0, 0);
  width:fit-content;
  height:fit-content;
  position: relative;
  top: 50%;
  margin: -10px auto;
}




.contenedores2 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: top;
  background-color: rgb(255, 0, 0);
  width:fit-content;
  height:fit-content;
  position: relative;
  top: 50%;
  margin: -10px auto;
}



/*----------------------------------------------------------------------------------------------------*/


.AAA {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.250);
  background-blend-mode: multiply;
  background-image: url("https://media4.giphy.com/media/3og0IGjLXRttYbbtcc/giphy.gif?cid=790b7611cf219a7feeb5f6202dc99fc6c02f92cf8edc56fe&rid=giphy.gif&ct=g");
  background-position: center;
  background-size:auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.BBB {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: green;
}

.fondoBBB {
  display: none;
background-color: rgba(0, 0, 0, 0.750);
position: absolute;
top: 0px;
left: 0px;
}


.BBB:hover .fondoBBB, .CCC:hover .fondoCCC {

  display: block;

}


.AAA, .BBB
{

margin-right: 20px;

}

.CCC {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: green;
}

.fondoCCC {
  display: none;
  background-color: rgba(0, 0, 0, 0.750);
  position: absolute;
  top: 0px;
  left: 0px;
  }


.AAA, .BBB, .CCC, .fondoBBB, .fondoCCC
{

height: 150px;
width: 150px;
border-radius: 5px;

}

.AAA:hover {
  background-color: rgba(0, 0, 0, 0.750);
  color: rgb(255, 255, 255);
}


/*----------------------------------------------------------------------------------------------------*/


#videofondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#overlay {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: darkblue;
  opacity: .6;
  z-index: -1;
}


/*----------------------------------------------------------------------------------------------------*/


.bottom {
  font-size: 15px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}




/*----------------------------------------------------------------------------------------------------*/




.DDD, .EEE, .FFF, .GGG {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.552);
  background-blend-mode: multiply;
  background-image: url("https://bit.ly/3TyUxA7");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*----------------------------------------------------------------------------------------------------*/


.textoDDD, .textoEEE, .textoFFF, .textoGGG {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  width: 200px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenedorDDD, .contenedorEEE, .contenedorFFF, .contenedorGGG
{
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: top;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  }

.contenedorDDD, .contenedorEEE, .contenedorFFF
{
  margin-right: 20px;
  }


/*----------------------------------------------------------------------------------------------------*/


.buscar
{
  width:100%;
  max-width: 300px;
  margin: 0px auto;
  margin-bottom: 70px;

}

  form.example input[type=text] {
    padding: 10px;
    width: 250px;
    font-size: 17px;
    color: #8C8C8C;
    border: 0px solid grey;
    float: left;
    background: #f1f1f1;
    outline: none;
  }

  form.example button {
    float: left;
    width: 50px;
    padding: 10px;
    background: #0C3759;
    color: white;
    border: 0px solid grey;
    font-size: 17px;
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }





/*----------------------------------------------------------------------------------------------------*/



.buscar3
{
  width:100%;
  max-width: 300px;
  margin: 0px auto;
  margin-bottom: 70px;

}

  form.example3 input[type=text3] {
    padding: 10px;
    width: 250px;
    font-size: 17px;
    color: white;
    border: none;
    float: left;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
  }


  .example3 input::placeholder {
  color: white;
  opacity: .75; /* Firefox */
}

  form.example3 button {
    float: left;
    width: 50px;
    padding: 10px;
    background: none;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 1px solid white;
    outline: none;
  }

  form.example3 button:hover {
  background-color: rgba(0, 0, 0, 0.45);
  }

  form.example3::after {
    content: "";
    clear: both;
    display: table;
    color:none;
  }





/*----------------------------------------------------------------------------------------------------*/





.menusearch {
background-color: rgba(0, 0, 0, 0.65);
display: flex;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
height:fit-content;
padding-left: 10px;
  }

  .texto_menu2 a {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    z-index: 999;
  }

.home,  .news,  .contact, .about, .icon {
background: none;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 5px;
margin-right: -10px;
  }



.texto_menu2 a:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  }

  .texto_menu {
    font-family: 'Poppins', sans-serif;
  }


  .buscar2
  {
float:right;
margin-left: auto;
margin-right: 20px;
  }

  .example2
  {
display: flex;
  }

    form.example2 input[type=text] {
      padding: 10px;
      width: 250px;
      font-size: 17px;
      color: #8C8C8C;
      border: 0px solid grey;
      float: left;
      background: white;
      outline: none;
      border-radius: 7px 0px 0px 7px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
    input:-webkit-autofill:first-of-type {
       -webkit-transition-delay: 9999s;
       transition-delay: 9999s;
       -webkit-text-fill-color: inherit !important;
       font-family: Poppins;
  }

    form.example2 button {
      float: left;
      width: 50px;
      background: red;
      color: white;
      border: 0px solid grey;
      font-size: 17px;
      cursor: pointer;
      border-radius: 0px 7px 7px 0px;
    }

    form.example2 button:hover {
      background: #0b7dda;
    }

    form.example2:after {
      content: "";
      clear: both;
      display: table;
    }
.YT
{
  height: 220px;
  width: 400px;
  display: block;
  margin-right: 0px;
  margin: -10px auto;
  margin-bottom: 55px;
  border-radius: 5px;
}







/*MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY MEDIA QUERY*/










@media screen and (max-width:1000px) {
  .menu_bar a {
    	font-size: 13px;
	}



  /*----------------------------------------------------------------------------------------------------*/



.contenedores2 {
  display: block;
  margin-right: 0px;
  position: relative;
  top: 50%;
  margin: -10px auto;
  padding-left: 25px;
  padding-right: 25px;

}

.contenedorDDD, .contenedorEEE, .contenedorFFF, .contenedorGGG  {

  margin-right: 0px;

  }



/*----------------------------------------------------------------------------------------------------*/



.bottom

{

  position: relative;

}



/*----------------------------------------------------------------------------------------------------*/



.contenedores {
  display: block;
  margin-right: 0px;
  position: relative;
  top: 50%;
  margin: -10px auto;


}

.AAA, .BBB
{

margin-bottom: 20px;
margin-right: 0px;

}



/*----------------------------------------------------------------------------------------------------*/


.example2{ /* SEARCH FORM */
  width: 235px;
  margin: 0px auto;
}

form.example2 input[type=text] { /* SEARCH FORM */
  padding: 10px;
  width: 200px;
  height: 30px;
  font-size: 12px;
  color: #8C8C8C;
  border: 0px solid grey;
  float: left;
  outline: none;
}

form.example2 button {  /* SEARCH FORM */
  float: left;
  width: 35px;
  height: 30px;
  padding: 10px;
  color: white;
  border: 0px solid grey;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.example2 button:hover {  /* SEARCH FORM */
  background: #0b7dda;
}

form.example2:after {  /* SEARCH FORM */
  content: "";
  clear: both;
  display: table;
}

.texto_menu2 a {  /* MENU */
  font-size: 13px;
  margin-left: 0px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  background: none;
  width: 90px;
  text-align: center;
}


.texto_menu2  {  /* MENU */
  width: 90px;
}

.texto_menu2 a:hover {
    color: white;
    background: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    transition: 0.9s;
  }

.menusearch {
display: block;
padding-left: 15px;
}

.buscar2{
float: none;
margin: 0px auto;
}

.texto_menu2 .icon {
width: 45px;
margin: auto;
}


@media screen and (max-width:700px) {

  .YT
  {
    height: 220px;
    width: 300px;
    display: block;
    margin-right: 0px;
    margin: -10px auto;
    margin-bottom: 55px;
    border-radius: 5px;
  }

	}
