/* -------------------------------------BODY------------------------------------- */

body {

  margin: 0px;
  font-family: 'Montserrat';
  background:white!important;

}

b {
  font-family: 'Nunito';
  font-weight: 700!important;
}



/* -------------------------------------🛑 MENU 🛑------------------------------------- */


.menubarnavbar

{
background: #202233;
padding: 10px;
width: 100%;
display: flex;
align-items: center;
position: fixed;
z-index: 99999999999999999999;
top: 0px;
}

.menubarnavbar ul {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size:13.5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
  margin-bottom: 0px !important;
}

li {
  float: right;
  border-radius: 100px;
  margin-right: 0px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 17px;
  padding-left: 17px;
  text-decoration: none;
  align-items: center;
}

.optionsnavbar li a:hover, .dropdown:hover .dropbtn {
  background-color: none;
  color: white !important;
}

li.dropdown {
display: flex;
align-items: center;
justify-content: center;
  position: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202233;
  min-width: 200px;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
  top: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #CD0D61;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.optionsnavbar li:hover    {
    color: white;
    background: #CD0D61;
    transition: 0.3s;
  }

.Contact {
  background-color: #CD0D61;
    border-radius: 100px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.Contact:hover {
  background-color: #CD0D61;
}

.logonav
{
height:27px;
}

.colapsed

{
display:flex;
align-items: center;
}

.burgerbtn {
background-image: url("images/bars-solid.svg");
height:40px;
width: 40x;
background: transparent;
float: right;
display: none;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 17px;
padding-left: 17px;
float: right;
margin-left: auto;
}

#myDIV {
  width: auto;
  text-align: center;
  background-color:#CD0D61;
  margin-top: 0px;
  display: none;
  position: absolute!important;
  z-index:9999999999999;
  margin-top: 50px;
  top: 0;
  width: 100%;
}

#myDIV.mystyle{
  display: block;
}

.menupeque a
{
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size:20px;
  display: inline-block;
color: white!important;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menupeque a:hover
{
background: rgba(0, 0, 0, 0.5);
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateX(0);
		-ms-transform:     translateX(0);
		transform:         translateX(0)
	}
	40% {
		-webkit-transform: translateX(-5px);
		-ms-transform:     translateX(-5px);
		transform:         translateX(-5px)
	}
	60% {
		-webkit-transform: translateX(-5px);
		-ms-transform:     translateX(-5px);
		transform:         translateX(-5px)
	}
}

.Contact:hover {
background-color: #F21878;
transition: 0.2s;
cursor: pointer;
animation-name: bounce;
-moz-animation-name: bounce;
}

.Contact {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

}

.burgerbtn.close{
  background-image: url("images/X Menu Bar.svg");
  background-color: none;
  border:none;
  float:right;
  display:block;
  decoration:none;
  background-position:center;
  background-repeat:no-repeat;
  height:30px;
  width:30px;
  padding-top: auto;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: auto;
}

#downdropicon {
margin-left: 5px;
}


/* -------------------------------------🧡 SECTION 1 🧡-------------------------------------- */


.herosection
{
background: #31344E;
height:552px;
width: auto;
align-items: center;
justify-content: center;
position: relative;
margin-top: 58px;
display: flex;
align-items: center;
background-image: url(images/retail_illustration_A.svg);
background-repeat: no-repeat;
background-position: center;
background-size: 650px;
background-color:#31344e;
background-blend-mode: multiply;
   }


.cornerheroA
{
position: absolute;
bottom: 0px;
left: 0px;
height: 250px;
width: 250px;
margin: 0px;
}


/* -------------------------------------🧡 PARRAFO 1 🧡-------------------------------------- */


.retail1
{
background-color:rgba(92, 221, 145, 0.0);
width: auto;
height: auto;
display: flex;
}


.retailtexto1
{
color:white;
background-color:none;
margin:auto;
margin-right:60px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
}


.retailtitulo1
{
font-family: Montserrat;
font-weight: 700;
font-size: 40px;
}

.parrafo1
{
font-family: Nunito;
font-size: 17px;
font-weight: 200;
text-align: justify;
width:340px!important;
}



/* -------------------------------------🧡 CAROUSEL 1 🧡-------------------------------------- */

.retailcarousel1/*CONTENEDOR DEL CAROUSEL*/
{
color:yellow;
background-color: rgba(122, 53, 172, 0.0) ;
width:400px;
}

.dispositiva1 {
  background-image: url(images/carouse1_A.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 388px;
}

.dispositiva2 {
  background-image: url(images/carouse1_B.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 405px;
}

.dispositiva3 {
  background-image: url(images/carouse1_C.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 388px;
}


.brand-carousel.owl-carousel {
	background:none;
  margin: auto;
  position: relative;
}

.owl-dots {
	text-align: center;
	margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.owl-dot {
	display:block;
	height: 10px !important;
	width: 10px !important;
	background-color: #8C8C8C!important;
	opacity: 0.8;
	border-radius: 50%;
	margin: 0 5px;
}
.owl-dot.active {
	background-color: #F2F2F2 !important;
}

.box {
  margin: auto;
  background-color:none!important;
  width: 370px;
  height: 250px;
  border-radius: 20px;
}

/* -------------------------------------💛 SECTION 2 💛-------------------------------------- */

.retail2 {
background:white;
height:550px;
width: auto;
justify-content:center;
position:relative;
align-items:center;
display:flex;
margin-top:0px; /* ----ALTURA---- */
margin-bottom:0px;
}

.textoeimagen2
{
background-color:none;
width:100%;
height:auto;
display:flex;
}

.margencontenido2 /*PARA CENTRAR TODO*/
{
margin:auto;
display:flex;
align-items:center;
}

.retail2imagen /*TAMAÑO IMAGEN*/
{
width:460px;
height:335px;
margin-right:80px;
background-image:url(images/retail_photo_A.png);
background-repeat: no-repeat;
background-position: center;
background-size:455px;
}

.retailtexto2 /*TAMAÑO TEXTO TITULO Y PARRAFO*/
{
background-color:none;
width:340px;
height:auto;
}


.retailtitulo2
{
color:#CD0D61;
font-family: Nunito;
font-weight: 700;
font-size: 40px;
}

.parrafo2
{
color: #353745;
font-family: Nunito;
font-size: 17px;
font-weight: 300;
text-align: justify;
}



/* -------------------------------------💙 SECTION 3 💙-------------------------------------- */


.herosection2
{
background:#31344E;
height:550px;
width: auto;
align-items: center;
justify-content: center;
position: relative;
display: flex;
align-items: center;
margin-top:0px;/* ----ALTURA---- */
margin-bottom:0px;/* ----ALTURA---- */
}


/* -------------------------------------💙 PARRAFO 3 💙-------------------------------------- */


.retail3
{
width: auto;
height: auto;
display: flex;
margin-left: 65px;
}


.retailtexto3
{
background-color:none;
margin:auto;
margin-right:65px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
}


.retailtitulo3
{
color:white;
font-family: Montserrat;
font-weight: 700;
font-size: 30px;
width:340px;
}

.parrafo3
{
color: white;
font-family: Nunito;
font-size:17px;
font-weight:300;
text-align: justify;
width:340px!important;
}



/* -------------------------------------💙 CAROUSEL 2 💙-------------------------------------- */

.retailcarousel2/*CONTENEDOR DEL CAROUSEL*/
{
color:yellow;
background-color: rgba(122, 53, 172, 0.0) ;
width:400px;
}

.dispositiva4 {
  background-image: url(images/carouse1_D.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 405px;
}

.dispositiva5 {
  background-image: url(images/carouse1_E.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 405px;
}

.dispositiva6 {
  background-image: url(images/carouse1_F.png);
  background-repeat: no-repeat;
  background-position:center;
  background-size: 405px;
}


.brand-carousel.owl-carousel {
	background:none;
  margin: auto;
  position: relative;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.owl-dot {
	display:block;
	height: 10px !important;
	width: 10px !important;
	background-color:#CCCCCC!important;
	opacity: 0.8;
	border-radius: 50%;
	margin: 0 5px;
}
.owl-dot.active {
	background-color:#8C8C8C!important;
}

.box {
  margin: auto;
  background-color:none!important;
  width: 370px;
  height: 250px;
  border-radius: 20px;
}






/* ----------------------------------🦶 FOOTOER 🦶----------------------------------------- */


.section6 {
background-color:hsl(234, 27%, 12%);
width: 100%;
height: auto;
float: none;
position: relative;

}

.row.listacontainer {
width: 80%;
margin: auto;
}

.col-md-3 {
  background: none;
}

ul.col-md-3 {
list-style: none;

}

ul.listafooter {
  padding: 0px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgba(255, 0, 0, 0.0);
}

.listafooter li { /* EDITAR CADA LÍNEA DE LA LISTA */
text-align: left;
float: none;
display: block;
padding: 0px;
font-family: nunito;
color: white;
font-weight: 400;
font-size: 14px;
padding: 7px;
}

.listafooter i {
font-size:25px;
padding-right: 10px;
}

li.titulofooter { /* EDITAR TITULO DE LA LISTA */
color: white;
font-family: nunito;
font-weight: 900;
font-size: 16px;
margin-bottom: 0px;
}

.iconsfooter { /* ICONOS REDES */
color: white;
border-radius: 0px;
text-align: center!important;
}

.footertopbottom
{
width: 100%;
height: 60px;
background-color:hsl(234, 27%, 12%);
}

.listafooter a

{
padding: 0px;
}

.listafooter a:hover

{
color: #CD0D61;
}

/*--------------------------------🟢🟢 RESPONSIVE NAV BAR 🟢🟢--------------------------------*/

@media screen and (max-width:930px) {

  li, .dropbtn {
    	display: none;
    }

    .logonav
    {
    height:30px;
    }


    .menubarnavbar
    {
    background: #202233;

    width: 100%;
    display:block;
    position: relative;
    }

.colapsed
{
display:flex;
align-items: center;
}


.burgerbtn {
background-image:url("images/bars-solid.svg");
background-color: transparent;
border:none;
float:right;
display:block;
decoration:none;
background-position:center;
background-repeat:no-repeat;
height:30px;
width:30px;
padding-top: auto;
padding-right: 0px;
padding-left: 0px;
margin-left: auto;
}

}

@media screen and (min-width:930px) {
  #myDIV {
    display:none!important;
  }
.burgerbtn.close{
      display:none!important;
  }

}


/*-----------------------------🟢🟢 RESPONSIVE 500PX 930PX TABLET 🟢🟢-----------------------------*/


@media screen and (max-width:930px) and (min-width:500px){


/* -------------------------------------🧡🧡 SECTION 1 🧡🧡-------------------------------------- */


.herosection
{
height:auto;
position: relative;
margin-top:0px;
background-size: 650px;
   }


.cornerheroA
{
height: 200px;
width: 200px;
}
/* -------------------------------------🧡 PARRAFO 1 🧡-------------------------------------- */


.retail1
{
display: flow-root;
margin-top: 60px;
margin-bottom: 60px;
}


.retailtexto1
{
color:white;
margin:auto;
margin-right:0px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
margin-bottom: 25px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
}

.retailtitulo1
{
font-size: 35px;
text-align: center;
}

.parrafo1
{
margin: auto;
width:340px!important;
}


/* -------------------------------------🧡 CAROUSEL 1 🧡-------------------------------------- */

.retailcarousel1/*CONTENEDOR DEL CAROUSEL*/
{
color:yellow;
width: 400px;
}

.brand-carousel.owl-carousel {
	background:none;
}

.box {/*TAMAÑO DE DIAPOSITIVA*/
  margin: auto;
	background-color:none!important;
  width: 350px;
  height: 220px;
  border-radius: 20px;
}

.dispositiva1 {/*FONDO DE DIAPOSITIVA*/
  background-size: 370px;
}

.dispositiva2 {/*FONDO DE DIAPOSITIVA*/
  background-size: 370px;
}


.dispositiva3 {/*FONDO DE DIAPOSITIVA*/
  background-size: 370px;
}


.owl-dots {
	margin-top: 20px;

}
.owl-dot {
	height: 8px !important;
	width: 8px !important;
}
	
	
/* --------------------------------------💛💛 SECTION 2 💛💛--------------------------------------- */

.retail2 {
height:auto;
width: auto;
margin-top:0px!important;
margin-bottom:0px!important;
}

.textoeimagen2
{
width:100%;
height:auto;
display:flex;
margin-top:60px;
margin-bottom:40px;
}

.margencontenido2 /*PARA CENTRAR TODO*/
{
margin:auto;
display:flow-root;
align-items:center;
}

.retail2imagen /*TAMAÑO IMAGEN*/
{
width:360px;
height:235px;
margin-right:0px;
margin:auto;
background-image:url(images/retail_photo_A.png);
background-repeat: no-repeat;
background-position: center;
background-size:335px;
margin-bottom:20px;
}

.retailtexto2 /*TAMAÑO TEXTO TITULO Y PARRAFO*/
{
width:340px;
height:auto;
margin:auto;
}


.retailtitulo2
{
font-weight: 700;
font-size: 35px;
text-align:center;
}

.parrafo2
{
font-size: 17px;
font-weight:300;
text-align: justify;
}

/* -------------------------------------💙 SECTION 3 💙-------------------------------------- */


.herosection2
{
height:auto;
position: relative;
margin-top:0px;
background-size: 650px;
margin-top:0px;/* ----ALTURA---- */
margin-bottom:0px;/* ----ALTURA---- */
}


/* -------------------------------------💙 PARRAFO 3 💙-------------------------------------- */


.retail3
{
margin-top: 0px;
margin-bottom: 60px;
margin-left:0px;
display:flex;
flex-direction:column-reverse;
}


.retailtexto3
{
color:white;
margin:auto;
/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
margin-bottom: 25px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
}


.retailtitulo3
{
text-align:center!important;
font-weight: 700;
font-size: 30px;
width:340px;
margin:auto;
margin-bottom:10px;
margin-right:0px!important;
}

.parrafo3
{
margin: auto;
width:340px!important;
}



/* -------------------------------------💙 CAROUSEL 2 💙-------------------------------------- */

.retailcarousel2/*CONTENEDOR DEL CAROUSEL*/
{
background-color: rgba(122, 53, 172, 0.0) ;
width:400px;
margin-bottom:13px;
}

.box {/*TAMAÑO DE DIAPOSITIVA*/
  margin: auto;
  width: 350px;
  height: 220px;
  border-radius:20px;
}

.dispositiva4 {/*FONDO DE DIAPOSITIVA*/
  background-size: 430px;
  background-position:center;
}

.dispositiva5 {/*FONDO DE DIAPOSITIVA*/
  background-size: 400px;
}


.dispositiva6 {/*FONDO DE DIAPOSITIVA*/
  background-size: 390px;
}

.owl-dots {
  margin-top: 20px;

}
.owl-dot {
height: 8px !important;
width: 8px !important;
}
	
	
   }


/*--------------------------------🟢🟢 RESPONSIVE MOBILE 500PX 🟢🟢--------------------------------*/


   @media screen and (max-width:600px) {


/* --------------------------------------🧡🧡 SECTION 1 🧡🧡--------------------------------------- */


     .herosection
    {
     height:auto;
     position: relative;
     margin-top:0px;
     background-size: 650px;
    }


     .cornerheroA
     {
     height: 100px;
     width: 100px;
     }
     /* -------------------------------------🧡 PARRAFO 1 🧡-------------------------------------- */


     .retail1
     {
     display: flow-root;
     margin-top: 60px;
     margin-bottom: 60px;
     margin-right: 0px;
     }


     .retailtexto1
     {
     color:white;
     margin:auto;
     margin-right:0px!important;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
     margin-bottom: 25px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
     }


     .retailtitulo1
     {
     font-size: 33px;
     text-align: center;
     margin-right:0px!important;
     }

     .parrafo1
     {
     margin: auto;
     width:330px!important;
     font-size: 16px;
     }


     /* -------------------------------------🧡 CAROUSEL 1 🧡-------------------------------------- */


     .retailcarousel1/*CONTENEDOR DEL CAROUSEL*/
     {
     color:yellow;
     width: 360px;
     }

     .brand-carousel.owl-carousel {
     	background:none;
     }

     .box {/*TAMAÑO DE DIAPOSITIVA*/
       margin: auto;
     	background-color:none!important;
       width: 330px;
       height: 200px;
       border-radius: 20px;
     }

     .dispositiva1 {/*FONDO DE DIAPOSITIVA*/
       background-size: 340px;
     }

     .dispositiva2 {/*FONDO DE DIAPOSITIVA*/
       background-size: 340px;
     }

     .dispositiva3 {/*FONDO DE DIAPOSITIVA*/
       background-size: 340px;
     }

     .owl-dots {
     	margin-top: 20px;

     }
     .owl-dot {
     	height: 8px !important;
     	width: 8px !important;
     }
	   
/* --------------------------------------💛💛 SECTION 2 💛💛--------------------------------------- */

.retail2 {
height:auto;
width: auto;
margin-top:0px!important;
margin-bottom:0px!important;
}

.textoeimagen2
{
width:100%;
height:auto;
display:flex;
margin-top:60px;
margin-bottom:40px;
}

.margencontenido2 /*PARA CENTRAR TODO*/
{
margin:auto;
display:flow-root;
align-items:center;
}

.retail2imagen /*TAMAÑO IMAGEN*/
{
width:330px;
height:235px;
margin-right:0px;
margin:auto;
background-image:url(images/retail_photo_A.png);
background-repeat: no-repeat;
background-position: center;
background-size:325px;
margin-bottom:25px;
}

.retailtexto2 /*TAMAÑO TEXTO TITULO Y PARRAFO*/
{
width:330px;
height:auto;
margin:auto;
}


.retailtitulo2
{
font-weight: 700;
font-size: 35px;
text-align:center;
}

.parrafo2
{
font-size: 16px;
font-weight: 300;
text-align: justify;
}


/* -------------------------------------💙 SECTION 3 💙-------------------------------------- */


.herosection2
{
height:auto;
position: relative;
margin-top:0px;
margin-top:0px;/* ----ALTURA---- */
margin-bottom:0px;/* ----ALTURA---- */
}


/* -------------------------------------💙 PARRAFO 3 💙-------------------------------------- */


.retail3
{
margin-top: 0px;
margin-bottom: 60px;
margin-left:0px;
display:flex;
flex-direction:column-reverse;
}


.retailtexto3
{
color:white;
margin:auto;
/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
margin-bottom: 25px;/*DISTANCIA ENTRE PARRAFO E IMAGENES*/
}


.retailtitulo3
{
text-align:center!important;
font-weight: 700;
font-size: 29px;
width:330px;
margin:auto;
margin-bottom:10px;
margin-right:0px!important;
}

.parrafo3
{
margin: auto;
width:330px!important;
font-size:16px;
}



/* -------------------------------------💙 CAROUSEL 2 💙-------------------------------------- */

.retailcarousel2/*CONTENEDOR DEL CAROUSEL*/
{
background-color: rgba(122, 53, 172, 0.0) ;
width:360px;
margin-bottom:13px;
}

.box {/*TAMAÑO DE DIAPOSITIVA*/
  margin: auto;
  width: 330px;
  height: 200px;
  border-radius:20px;
}

.dispositiva4 {/*FONDO DE DIAPOSITIVA*/
  background-size: 380px;
  background-position: center;
}

.dispositiva5 {/*FONDO DE DIAPOSITIVA*/
  background-size: 380px;
  background-position: center;
}


.dispositiva6 {/*FONDO DE DIAPOSITIVA*/
  background-size: 340px;
  background-position: center;
}

.owl-dots {
  margin-top: 20px;

}
.owl-dot {
height: 8px !important;
width: 8px !important;
}

   }



/* -------------------------------------🟢🟢 FOOTER 🟢🟢-------------------------------------- */




   @media screen and (max-width:800px) {

     .listafooter li { /* EDITAR CADA LÍNEA DE LA LISTA */
     text-align: center;
     }

      }
